// primary colour variables

$brainflix-black:#323232;
$brainflix-blue: #0095FF;
$silver:#AFAFAF;
$white:#FFFFFF;

// secondary colour variables

$brainflix-darkblack:#000000;
$brainflix-darkblue: #0065AD;
$mercury:#E1E1E1;
$alabaster:#FAFAFA;

// breakpoints

$tablet-width: 768px;
$desktop-width: 1280px;