@use '../styles/variables';
@use '../styles/mixins';
@use '../styles/fonts';
@use '../styles/general';

.comment {
    display:flex;
    padding:1.14rem 0;
    margin:0 1.14rem;
    border-top: solid 0.071rem variables.$mercury;
    &__avatar {
        @include mixins.avatar;
        min-width: 2.86rem;
        
    }
    &__details{
        padding-left:1.14rem;
        &--header{
            display:flex;
            justify-content: space-between;
        }
        &--name{
            color:variables.$brainflix-black;
            @include mixins.font-sub-header;
        }
        &--timestamp{
            @include mixins.font-body;
            color:variables.$silver;
        }
        &--comment{
            padding-top:1.14rem;
            text-align:left;
            @include mixins.font-body;
            color:variables.$brainflix-black;
        }
    }
    
}

.comment:last-child {
    border-bottom: solid 0.071rem variables.$mercury;
}

@include mixins.tablet {
    .comment {
        padding:1.71rem 0;
        margin:0 1.71rem;
    
        &__avatar {
            min-width: 2.86rem;
        }
        &__details{
            padding-left:1.71rem;
            
            &--comment{
                padding-top:1.71rem;
            }
        }
        
    }
}

@include mixins.desktop {
    .comment {
        padding:1.71rem 1.71rem 1.71rem 0;
        margin:0 0 0 1.71rem;
    }
    .comment:last-child {
        border-bottom: none;
    }
}