@use '../styles/variables';
@use '../styles/mixins';
@use '../styles/fonts';
@use '../styles/general';

.upload {
    margin: 0 1.14rem;
    &__title {
        padding-top:1.71rem;
        text-align: left;
        color:variables.$brainflix-black;
        @include mixins.font-page-header
    }
    &__header {
        @include mixins.font-labels;
        color: variables.$silver;
        text-align:left;
        padding-top:1.14rem;
    }
    &__image {
        width:100%;
        margin:1.14rem 0;
        display:flex;
        border-radius:0.286rem;
        box-sizing: border-box;
        
    }
    &__form {
        &--header {
            @include mixins.font-labels;
            color: variables.$silver;
            text-align:left;
            padding-top:1.14rem;
        }
        &--title{
            @include mixins.formfield;
            width:100%;
            padding: 0.857rem;
            box-sizing: border-box;
            max-height:3rem;
        }
        &--description{
            @include mixins.formfield;
            width:100%;
            min-height:5rem;
            padding: 0.857rem;
            box-sizing: border-box;
        }
        
        &--publish {
            margin: 1.71rem 0;
            width:100%;
            background: variables.$brainflix-blue url('../assets/images/publish.svg');
            background-repeat: no-repeat;
            background-position: 0.57rem 0.57rem;
            @include mixins.button;
            box-sizing:border-box;
        }

        &--cancel{
            margin-bottom: 1.71rem;
            width:100%;
            height:2.86rem;
            background-color: variables.$white;
            border: none;
            color:variables.$brainflix-blue;
            border-radius:0.286rem;
            font-family: 'Avenir Next LT Pro Bold';
            box-sizing: border-box;

            @include mixins.tablet {
                min-width:10.7rem;
                max-width:10.7rem;
            }
        }
    }
}

@include mixins.tablet {
    .upload {
        margin: 0 1.71rem;
    &__title {
        padding-top:2.57rem;
        padding-bottom:1.71rem;
        border-bottom: solid 0.071rem variables.$mercury;
    }
    &__header {
        padding-top:1.71rem;
    }
    &__image {
        width:50%;
        margin:1.71rem 0;
        display:flex;
        justify-content: flex-start;
    }
    &__form {
        &--header {
            padding-top:1.71rem;
        }
        &--title{
            @include mixins.formfield;
            width:100%;
            padding: 0.857rem;
            box-sizing: border-box;
        }
        &--description{
            @include mixins.formfield;
            width:100%;
            min-height:6rem;
            padding: 0.857rem;
            box-sizing: border-box;
        }
        &--buttons{
            display:flex;
            justify-content: flex-start;
            flex-direction: row-reverse;
        }
        &--inputs{
            padding-bottom: 1.71rem;
            border-bottom: solid 0.071rem variables.$mercury ;
        }
        &--publish {
            margin: 1.71rem 0;
            width:100%;
            background: variables.$brainflix-blue url('../assets/images/publish.svg');
            background-repeat: no-repeat;
            background-position: 0.57rem 0.57rem;
            @include mixins.button;
            box-sizing:border-box;
        }
        &--cancel{
            margin: 1.71rem;
            width:100%;
            height:2.86rem;
            background-color: variables.$white;
            border: none;
            color:variables.$brainflix-blue;
            border-radius:0.286rem;
            font-family: 'Avenir Next LT Pro Bold';
            box-sizing: border-box;

            @include mixins.tablet {
                min-width:10.7rem;
                max-width:10.7rem;
            }
        }
    }
    }
}

@include mixins.desktop {
    .upload {
        margin: 0 4.57rem;
        &__content {
            display:flex;
            width:100%;
        }
        &__left {
            width:45%;
        }
        &__image {
            margin:0;
            width:100%;
            padding-bottom:1.71rem;
            border-bottom: solid 0.071rem variables.$mercury;
        }
        &__form {
            padding-left:1.71rem;
            width:100%;
            box-sizing: border-box;
            &--inputs{
                width:100%;
            }
        }
    }
}