@use '../styles/variables';
@use '../styles/mixins';
@use '../styles/fonts';
@use '../styles/general';

.next-videos {

    &__card {

        display:flex;

        &--image {
            width:25%;
            height:auto;
        }
    }
}