@use '../styles/variables';
@use '../styles/mixins';
@use '../styles/general';

.next-videos {
    padding: 1.14rem;
    &__header{
        @include mixins.font-labels;
        color:variables.$silver;
        text-align:left;
        padding-bottom:1.14rem;
    }
}

@include mixins.tablet {
    .next-videos {
        padding: 1.71rem;
        &__header{
            padding-bottom:1.71rem;
        }
    }
}

@include mixins.desktop {
    .next-videos {
        margin-right:4.57rem;
        border-left: solid 0.071rem variables.$mercury;
        width:25rem;
    }
}